<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <%= form_with model: @transaction, local: true do |f| %>
        
      <% end %>
    </div>
  </div>
</div>
